.card-component{
    width: 18rem;
    min-height: 24rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container-card-img > img{
    width: 18rem;
    height: 12rem;
}

.container-card-img{
    width: 100%;
}

.card-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3rem;
}

.card-title{
    min-height: 4rem;
}

.card-body-component{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    max-height: 20rem;
    width: 100%;
    justify-content: space-between;
}

.card-body-price{
    font-size: x-large;
    position: relative;
    bottom: -20px;
    left: 0px;
}

.container-buton-card{
    display: flex;
    gap: 1rem;
}
.button-card-carrito{
    color: black;
    cursor: pointer;
/*     position: relative;
    bottom: -30px;
    left: 40px;
    transition: 0.3s; */
}

.button-card-detalles{
    color: black;
    cursor: pointer;
/*     position: relative;
    bottom: 10px;
    left: 10px;
    transition: 0.3s; */
    
}



.button-card-carrito :hover, .button-card-detalles :hover{
    color: #007bff;
    transition: 0.3s;
    transform: scale(1.03);
}

