.footer{
    margin-top: 2rem;
    width: 100%;
    min-height: 17rem;
    border-top: 1px solid #dadada;

}
.container-footer{
    width: 100%;
    min-height: 17rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33.3%;
}

.container-form-subscribe{
    width: 33.3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-footer{
    border: 1px solid #818181;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    padding: 15px;
}

.form-footer > input{
    width: 90%;
    padding: 10px;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    outline: invert;
}

.form-footer > button{
    width: 100%;
    padding: 10px;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    background-color: #bad2ff88;
    color: #000000;
    outline: invert;
    cursor: pointer;
}

.container-redes{
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container-redes > svg{
    cursor: pointer;
}