
.container-nav {
    height: 3rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-bottom: 1px solid rgb(233, 243, 252);
}

    
.link{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: large;
}

.link:hover{
    text-decoration: underline;
}