.container-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    min-height: 90vh;
}

.text-NoProjects{
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Mercado pago */
.shopping-cart {
    padding-bottom: 10px;
    overflow:hidden;
    transition: max-height 5s ease-in-out;
}
.shopping-cart {
    padding-bottom: 10px;
    overflow:hidden;
    transition: max-height 5s ease-in-out;
}

.shopping-cart.hide {
    max-height: 0;
    pointer-events: none;
}

.shopping-cart .content {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    background-color: white;
}

.shopping-cart .block-heading {
    padding-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.shopping-cart .block-heading p {
    text-align: center;
    max-width: 600px;
    margin: auto;
    color: RGBA(0,0,0,0.45);
}

.shopping-cart .block-heading h1,
.shopping-cart .block-heading h2,
.shopping-cart .block-heading h3 {
    margin-bottom: 1.2rem;
    color: #009EE3;
}


.shopping-cart .items {
    margin: auto;
}

.shopping-cart .items .product {
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.shopping-cart .items .product .info {
    padding-top: 0px;
    text-align: left;
}

.shopping-cart .items .product .info .product-details .product-detail {
    padding-top: 40px;
    padding-left: 40px;
}

.shopping-cart .items .product .info .product-details h5 {
    color: #009EE3;
    font-size: 19px;
}

.shopping-cart .items .product .info .product-details .product-info {
    font-size: 15px;
    margin-top: 15px;
}

.shopping-cart .items .product .info .product-details label {
    width: 50px;
    color: #009EE3;
    font-size: 19px;
}

.shopping-cart .items .product .info .product-details input {
    width: 80px;
}

.shopping-cart .items .product .info .price {
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
}

.shopping-cart .summary {
    border-top: 2px solid #C6E9FA;
    background-color: #f7fbff;
    height: 100%;
    padding: 30px;
}

.shopping-cart .summary h3 {
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type) {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .text {
    font-size: 1em;
    font-weight: 400;
}

.shopping-cart .summary .price {
    font-size: 1em;
    float: right;
}

.shopping-cart .summary button {
    margin-top: 20px;
    background-color: #009EE3;
}
@media (max-width: 768px) {

    .shopping-cart .items .product .info .product-details .product-detail {
        padding-top: 40px;
        padding-left: 40px;
    }

    .shopping-cart .items .product .info .price {
        font-weight: 500;
        font-size: 22px;
        top: 17px;
    }

    .shopping-cart .items .product .info .quantity {
        text-align: center;
    }

    .shopping-cart .items .product .info .quantity .quantity-input {
        padding: 4px 10px;
        text-align: center;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 500px) {

    .shopping-cart .items .product .info .product-details .product-detail {
        padding-top: 20px;
        padding-left: 20px;
    }

    .shopping-cart .items .product .info .price {
        font-weight: 500;
        font-size: 22px;
        top: 17px;
    }

    .container{
        display: flex ;
        flex-direction: column ;
    }

    .shopping-cart .items .product .info .quantity {
        text-align: center;
    }

    .shopping-cart .items .product .info .quantity .quantity-input {
        padding: 4px 10px;
        text-align: center;
    }
}

/* -----------------------------------------  */

.card{
    width: 40rem;
}

.container-form-cart{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.form-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.button-cart-finish{
    text-decoration: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    background-color: #bad2ff88;
    color: #000000;
    outline: invert;
    cursor: pointer;
}

.button-cart-cancel{
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    background-color: #ff010188;
    color: #000000;
    outline: invert;
    cursor: pointer;
}

@media screen and (max-width: 680px){
    .card{
        width: 30rem;
    }
}

@media screen and (max-width: 490px){
    .card{
        width: 20rem;
    }
}

@media screen and (max-width: 325px){
    .card{
        width: 15rem;
    }
}