.container-projectId{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 2rem;
    background-color: #f7f7f7;
}

.title-project-selected{
    width: 80%;
}

.container-back-icon{
    color: black;
    height: 2rem;
    display: flex;
    align-items: center;
}

.container-cart-icon{
    color: black;
    height: 2rem;
    display: flex;
    align-items: center;
}

.container-project-selected{
    width: 30rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.container-img-selected{
    width: 30rem;
    border-radius: 10px;
}
.container-img-selected > img{
    width: 30rem;
    height: 20rem;
    border-radius: 10px;
}
.container-description-selected{
   width: 30rem;
   margin-top: 2rem;
   border-top: 1px solid rgb(192, 192, 192);
   padding-top: 2rem;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.container-form-project{
    width: 17rem;
    min-height: 12rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
   
}



.container-form-project-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid #dadce0;
    border-radius: 10px;
    padding: 10px;  
    background-color: white
}

.container-form-check{
    border: 1px solid #dadce0;
    border-radius: 10px;
    padding: 10px;  
    background-color: white;
}

.container-form-project-price{
    font-size: x-large;
    margin: 0px;
}

.container-form-project-button{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container-form-project-button > button{
    font-size: medium;
    width: 10rem;
    padding: 5px;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    background-color: #bad2ff88;
    color: #000000;
    outline: invert;
    cursor: pointer;
}


@media screen and (max-width: 950px){
    .container-projectId{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        gap: 2rem;
        background-color: #f7f7f7;
        flex-direction: column;
        align-items: center;
    }

    .container-back-icon{
        color: black;
        height: 2rem;
        width: 90%;
        display: flex;
        align-items: center;
    }

    .container-img-selected{
        width: 24rem;
        border-radius: 10px;
        
    }
    .container-img-selected > img{
        width: 24rem;
        height: 20rem;
        border-radius: 10px;
    }

    .container-project-selected{
        justify-content: center;
        width: 90%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .container-description-selected{
        width: 90%;
        margin-top: 2rem;
        border-top: 1px solid rgb(192, 192, 192);
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
     }
    
}

@media screen and (max-width: 950px){
    .container-project-selected{
        justify-content: center;
        align-items: center;
        width: 90%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .container-description-selected{
        width: 90%;
        margin-top: 2rem;
        border-top: 1px solid rgb(192, 192, 192);
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
     }
}

@media screen and (max-width: 400px){
    .container-img-selected{
        width: 20rem;
        border-radius: 10px;
        
    }
    .container-img-selected > img{
        width: 20rem;
        height: 18rem;
        border-radius: 10px;
    }

}


